* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Poppins-SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Poppins-Light.ttf");
}
body {
  font-family: "Poppins-Light";
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  color: #9ca5af;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden !important;
  border: none;
  border: 1px solid red;
}
h1,
h2,
h3,
h4 {
  font-family: "Poppins-Regular";
  text-transform: capitalize;
  transition: 0.3s;
}
h1 {
  font-family: "Poppins-SemiBold";
  text-transform: uppercase;
  font-size: 55px !important;
  line-height: 60px;
  color: #001659;
}
.heading-align{
  display: flex;
  justify-content: start;
}
.main-heading > h2 {
  color: #001659;
  font-size: 28px;
  font-family: "Poppins-SemiBold";
  text-transform: uppercase;
}
.main-heading>h3 {
  font-size: 23px;
  line-height: 32px;
  color: #001659;
}
h4{
  color: #ffffff;
  font-size: 18px !important;
  font-family: "Poppins-SemiBold";
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 30px;

}
h5{
  font-size: 16px !important;
  color: #001659;
  text-transform: uppercase;
}
p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Poppins-Light";
  letter-spacing: 0.9px;
}
.span-text {
  text-transform: uppercase;
  font-family: "Poppins-Regular";
  font-weight: 900;
  font-size: 14px;
  color: #ff5e14 !important;
  position: relative;
  z-index: 2;
}
.span-text::before {
  position: absolute;
  content: " ";
  width: 2px;
  height: 100%;
  background: #ff5e14;
  top: 0;
}

a {
  color: #565969 !important;
  text-decoration: none !important;
  word-wrap: break-word;
}

.social-icon a {
  font-size: 15px;
  margin: 0 24px 0 0;
  line-height: 40px;
  font-family: "Poppins-SemiBold";
}
.social-icon a:hover {
  color: #ff5e14 !important;
}
.box-shadow {
  box-shadow: 0 23px 47px #e6e8e9;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
}
.word-wrap {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-right: 30px;
}
.clr-orenge {
  color: #ff5e14 !important;
}
.clr-black {
  color: #000000;
}
.wht-clr {
  color: #ffffff;
  z-index: 5;
}


.mrt50 {
  margin-top: 50px;
}
.mrb50 {
  margin-bottom: 50px;
}
.mrtb15{
  margin: 15px 0;
}
.pdb100 {
  padding-bottom: 100px;
}
.pd150 {
  padding: 50px 150px;
}
.pdt50 {
  padding-top: 50px;
}
.pdl50 {
  padding-left: 50px;
}
.pdr50 {
  padding-right: 50px;
}
.pdb50 {
  padding-bottom: 50px;
}
.pdtb20 {
  padding: 20px 0;
}
.pdtb15 {
  padding: 15px 0;
}
.pd16 {
  margin: 16px 16px 0;
}
.mrgn {
  margin: auto;
}
.content p > span {
  padding-right: 10px;
}
/* *******Link btn Css Start********* */

.link-btn .link {
  padding: 12px 24px;
  font-size: 16px;
  width: 10rem;
  margin-right: 20px;
}
.orenge-btn a,.blue-btn a{
  color: #fff !important;
  display: flex;
  justify-content: center;
}
.link-btn .orenge-btn {
  background-color: #ff5e14;
  z-index: 1;
}
.link-btn .blue-btn {
  background-color: #001659;
  z-index: 1;
}
.orenge-btn:hover{
  background-color: #001659;
  transition: 0.3s;
}
.blue-btn:hover{
  background-color: #ff5e14;
  transition: 0.3s;
}  
/* *******Link btn Css End********* */
/* *******Background image Css Start********* */
.bg-img-css{
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* *******Background image Css End********* */

/* *******Arrow Btn Css Start********* */

.pt-button {
  position: relative;
  width: auto;
  text-transform: capitalize;
  color: white;
  padding: 6px 0px;
  line-height: 2;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}
.pt-button-text{
  color: #ff5e14;
}
.pt-button:hover .pt-button-text{
  padding-left: 70px;
  padding-right: 10px;
  transition: all 0.5s ease-in-out;
}
.pt-button span {
  transition: all 0.5s ease-in-out;
}
.pt-button.pt-btn-link {
  padding: 0;
  background: transparent;
  color: #ff5e14;
  line-height: 1;
  float: inherit;
}
.pt-button-line-left {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  width: 0;
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  background: #ff5e14;
}
.pt-button:hover .pt-button-line-left{
  width: 60px;
}

.pt-button-line-right {
  background: #ff5e14;
  width: calc(60px - 1px);
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  opacity: 1;
  margin-left: 15px;
}
.pt-button:hover .pt-button-line-right{
  opacity: 0;
  display: none;
}
.svg-arrow > svg {
  vertical-align: middle;
  margin-left: -10px;
  font-size: 23px;
  color: #ff5e14;
}

/* .pt-button {
  position: relative;
  width: auto;
  text-transform: capitalize;
  background: #ff5e14;
  color: #fff !important;
  padding: 12px 30px;
  line-height: 2;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  border: 1px solid red;
} */

/* *******Arrow Btn Css End********* */