/* ********TopHeader Css Start******** */
.top-header {
  padding: 0 30px;
  position: relative;
}
.top-header-left {
  display: inline-flex;
  height: 100%;
}

.top-header-left P {
  color: #001659;
  font-weight: 400;
  margin: auto;
  margin-right: 20px;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 40px;
}
.top-header-left P span {
  padding-right: 10px;
  font-size: 15px;
}
.top-header-left P:hover a {
  color: #ff5e14 !important;
}

/* ********TopHeader Css End******** */

/* ********Navbar Css Start******** */
.navbar-brand {
  padding: 0 !important;
  margin: 0 !important;
}
.container-fluid {
  --bs-gutter-x: 0rem;
}
.navbar {
  --bs-navbar-padding-y: 0rem !important;
}
.logo-link h3 a {
  position: absolute;
  box-shadow: none;
  border: 1px solid #ff5e14;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 100px;
  background-color: #ff5e14;
}
.logo-link h3 a{
  font-size: 26px;
  font-weight: 500;
  align-items: center;
  color: #fff !important;
  line-height: 40px;
}
#navbarScroll{
margin-top: -8px;
}
#navbarScroll a {
  border: 1px solid #9ca5af;
  border-left-width: 0;
  width: 100%;
  padding: 10px 60px;
  color: #001659;
  font-weight: 500;
  line-height: 40px;
}
#navbarScroll a:hover {
  color: #ff5e14 !important;
}
.form-control {
  padding: 1.1rem 0.75rem !important;
  border-radius: 0rem !important;
}
.nav-icon span {
  border: 1px solid #9ca5af;
  border-left-width: 0;
  line-height: 30px;
  padding: 15px;
  font-size: 20px;
  width: 60px;
  text-align: center;
}
.nav-icon:hover span{
  background-color: #ff5e14;
  color: #ffffff;
}

/* ********Navbar Css End******** */

/* ********Banner Css Start******** */

.banner {
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
}
.slider-heading span {
  color: #9ca5af;
  font-family: "Poppins-Regular";
  text-transform: uppercase;
}
.slider-heading h1,
.slider-heading p {
  color: #fff;
}

.carousel-control-next {
  opacity: 0 !important;
}
.carousel-control-prev {
  opacity: 0 !important;
}
.btm-image img {
  width: 100%;
  height: 70px;
}
.carousel-control-next-icon {
  color: #001659 !important;
}
.carousel-indicators {
  padding: 20px 0 !important;
}
.carousel-indicators [data-bs-target] {
  width: 12px !important;
  height: 0px !important;
  background-color: #fff !important;
  border-top: 6px solid transparent !important;
  border-bottom: 6px solid transparent !important;
}
.carousel-indicators button {
  margin-left: 10px !important;
  border-radius: 50% !important;
  width: 12px !important;
  height: 0px !important;
  background: #ffffff4d !important;
  box-shadow: 0 0 0 2px #fff !important;
}

.carousel-indicators button:hover {
  transform: scale(0.4);
  -webkit-transform: scale(0.4);
  background-color: #ffffff !important;
}

/* ********Banner Css End******** */

/* ********AboutBlog Css Start******** */

.float-image {
  position: relative;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.image-1 {
  text-align: left;
}
.image-2 {
  text-align: right;
  margin-left: -103px;
}

.vertical-flow {
  animation-name: vertical;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  right: 0;
  top: -100px;
}
@keyframes vertical {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

.company-service span {
  font-size: 8px;
  padding-right: 15px;
  vertical-align: middle;
  color: #ff5e14;
}
.company-service a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.link-btn {
  margin: 30px 0;
}
/* ********AboutBlog Css End******** */
/* ********Features Css Start*********/

.accordion-item {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.accordion-item:first-of-type .accordion-button {
  box-shadow: none !important;
}
.accordion-button:active {
  background-color: none !important;
}
.feature-img {
  position: relative;
}
.feature-img-1 > img {
  width: 400px;
  float: right;
}
.feature-img-2 {
  position: absolute;
}
.feature-img-2 > img {
  width: 320px;
  padding-top: 120px;
  padding-left: 20px;
}

/* ********Features Css End******** */

/* ********Experience Css Start******** */

.exp-bg {
  background-image: url("../images/c-e.avif");
  width: 100%;
  height: 70vh !important;
}
.progress-text {
  display: flex;
  justify-content: space-between;
}
.progress {
  --bs-progress-height: 0.2rem !important;
  --bs-progress-bg: #fff !important;
  --bs-progress-bar-bg: #ff5e14 !important;
}
.fade-img {
  opacity: 0;
  transition: 0.9s;
}
.exp-bg:hover .fade-img {
  opacity: 1;
}

/* ********Experience Css End******** */

/* ********Project Css Start******** */
.project {
  position: relative;
}

.project::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #001659;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.project-content {
  position: absolute;
  padding: 30px 30px 30px 45px;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: inline-block;
  transition: all 0.5s ease-in-out;
}
.project-content h3 {
  color: #ffffff;
  margin-top: 15px;
}
.project:hover::before {
  opacity: 0.9;
}
.project:hover .project-content {
  opacity: 1;
}
/* ********Project Css End******** */

/* ********BlogPost Css Start******** */
.author-img {
  position: absolute;
  top: 50;
  margin-top: -30px;
  margin-left: 20px;
  border: 3px solid #ffffff;
}
.card-image {
  position: relative;
  overflow: hidden;
}
.card-image a img {
  width: 100%;
  height: 300px;
  transition: 1.3s;
}
.card-image:hover img {
  transform: scale(1.15);
}

.card-content p > span {
  padding-right: 20px;
  color: #565969;
}
.card-content a:hover h5 {
  color: #ff5e14 !important;
}
.cards {
  position: relative;
  width: 400px;
}
.border-btm:hover {
  position: absolute;
  transition: all 0.5s;
  border-bottom: 5px solid #ff5e14 !important;
}
.blg-crd-icon {
  color: #ff5e14;
  margin-right: 5px;
}
/* ********BlogPost Css End******** */
/* ********Testimonial Css Start******** */
.text > h1 {
  text-transform: capitalize;
  font-family: "Poppins-Bold";
}
.slick-slide img {
  width: 100px;
  height: 110px;
  margin: 50px 0;
}
/* ********Testimonial Css End******** */

/* ********Team Css Start******** */
.team-bg-img {
  background-image: url(../images/team-bg.jpg);
  background-attachment: fixed;
  height: 110vh !important;
}

.team-bg-img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 110vh;
  background: rgb(0, 22, 89, 0.3);
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.our-team{
  position: absolute;
  top: 0;
}
.team-title {
  text-align: start;
  z-index: 1;
}
.team-title > h2,
.team-title > p {
  color: white !important;
}

.team-img {
  position: relative;
  overflow: hidden;
}
.team-img img {
  width: 100%;
  height: 320px;
  transition: 1.3s;
}
.team-img:hover img {
  transform: scale(1.15);
}
.team-icon {
  position: absolute;
  bottom: 15px;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 0 15px;
  opacity: 0;
}
.team-content:hover .team-icon{
  opacity: 1;
}
.team-name {
  position: relative;
  background-color: rgb(255, 255, 255, 0.9);
  padding: 20px;
  z-index: 4;
}
.team-name>p{
  color: #565969;
}

.team-icon a {
  color: #ffffff !important;
  background-color: rgb(0, 22, 89);
  padding: 10px;
}
.team-content:hover .team-name {
  background-color: rgb(255, 94, 20);
}
.team-content:hover .team-name h3 a, 
.team-content:hover .team-name p b{
  color: #ffffff !important;
}
/* ********Team Css End******** */

/* ********AboutUs Css Start******** */
.bg-banner-image {
  background-image: url("../images/about/about-me-title-img.jpg");
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 60vh;
}
.m {
  position: absolute;
  display: block;
  pointer-events: auto;
  left: 106px;
  top: 126px;
  z-index: 8;
  visibility: visible;
  perspective: 601px;
}

/* ********AboutUs Css End******** */

/* ********Portfolio Css Start******** */
.card-img {
  position: relative;
}
.img-hover-content {
  position: absolute;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  bottom: 30px;
  left: 30px;
  right: 30px;
  width: 90%;
  padding: 33px;
  opacity: 0;
  transition: 1s;
}
.img-hover-content .social-icon {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.img-hover-content .social-icon a {
  font-size: 25px;
}
.card-img:hover .img-hover-content {
  opacity: 1;
}
span > a:hover {
  color: #ff5e14 !important;
}

/* ********Portfolio Css End******** */

/* ********Blog Css Start******** */
.post-content p span {
  padding: 0 10px;
}
.border-btm-link {
  border-bottom: 2px solid #9ca5af;
  margin-bottom: 45px;
  width: 95% !important;
}
.border-btm-link a {
  color: #ff5e14 !important;
}
.border-btm-link a span {
  font-size: 14px;
  margin-right: -14px;
  padding-left: 6px;
}

.blog-sidebar-box {
  background: #fff;
  border: none;
  margin-bottom: 45px;
  padding: 30px;
  width: 100%;
  box-shadow: 0px 0px 30px 0px rgb(0 33 85 / 10%);
}
.blog-sidebar-box h3 {
  border-bottom: 2px solid #9ca5af;
  padding-bottom: 10px;
}
.header-form {
  padding-top: 20px;
}
.btn {
  border: 1px solid #ff5e14 !important;
  border-radius: 0px !important;
  background-color: #ff5e14 !important;
}
.form-control {
  padding: 0.75rem 0.75rem !important;
  border-radius: 0rem !important;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #ff5e14 !important;
  outline: 0;
  box-shadow: 0 0 0 0 0.25rem rgb(255, 94, 20 0.25rem) !important;
}

.blog-tags a {
  border: 1px solid #9ca5af;
  padding: 8px;
  margin: 10px 10px 0px 0px;
}
.wht-clr h6 {
  color: #fff;
}
/* ********Blog Css End******** */

/* ********Footer Css Start******** */
.ftr-bg {
  /* background-color: #001659; */
  background-color: #000105;
}
.ftr-content-title h3 {
  color: #fff !important;
}
.ftr-content {
  margin-top: 50px;
}
.ftr-content p a {
  color: #9ca5af !important;
}
.ftr-content p:hover a {
  color: #ff5e14 !important;
}

.ftr-content p > svg {
  padding-right: 10px;
}
.ftr > p {
  color: #9ca5af;
}
/* ********Footer Bottom Css Start******** */
.ftr-btm {
  border-top: 1px solid #9ca5af;
}
.ftr-btm .logo-link {
  position: relative;
}

.copy-right {
  align-items: center;
}
.copy-right p {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 25px;
}
.copy-right p > a {
  color: #9ca5af !important;
}
.copy-right p span {
  padding-right: 10px;
}
.copy-right p > a:hover {
  color: #ff5e14 !important;
}

.btm-ftr-right .social-icon a {
  color: #fff !important;
  width: 64px;
  height: 64px;
  margin: 0;
  font-size: 26px;
  border: 1px solid #9ca5af;
  border-top-width: 0;
  transition: all 0.3s ease;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ftr-content p img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
/* ********Footer Css End******** */

.fixed-img {
  background-image: url("../images/fixed-attached-img.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
  /* transition: background 0.3s, border-radius 0.3s, opacity 0.3s; */
}
